<div class="container">

  <div>
    <!--*ngIf="!isLoggedIn"-->
    <h2>Register</h2>
    <div class="form-group py-2">
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="row py-2">
          <div class="col-3">
            <input type="text" [(ngModel)]="firstname" id="firstname" required class="form-control" placeholder="First name:" formControlName="fname">
            <div *ngIf="fname.invalid && (fname.dirty || fname.touched)" class="alert alert-danger">
              <div *ngIf="fname.errors?.['required']">
                First name is required.
              </div>
              <div *ngIf="fname.errors?.['minlength']">
                First name must be at least 4 characters long.
              </div>
            </div>
          </div>
          <div class="col-3">
            <input type="text" [(ngModel)]="lastname" id="lastname" required class="form-control" placeholder="Last name:" formControlName="lname">
            <div *ngIf="lname.invalid && (lname.dirty || lname.touched)" class="alert alert-danger">
              <div *ngIf="lname.errors?.['required']">
                Last name is required.
              </div>
              <div *ngIf="lname.errors?.['minlength']">
                Last name must be at least 4 characters long.
              </div>
            </div>
          </div>
          <div class="col-3">
            <button type="submit" [disabled]="(fname.invalid || lname.invalid)" class="btn btn-primary">
              Register
            </button>
          </div>
        </div>
        <div class="col-7">
          <div class="alert alert-warning alert-dismissible fade show" *ngIf="f.submitted && isSignUpFailed">
            Signup failed!<br />{{ errorMessage }}
          </div>
          <div class="alert alert-success alert-dismissible fade show" *ngIf="isSuccessful && !isLoggedIn">
            Your registration is successful! Login to Continue
          </div>
          <div class="alert alert-success alert-dismissible fade show" *ngIf="isSuccessful && isLoggedIn">
            Your registration is successful!
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="isLoggedIn">
    <div class="row py-2">
      <div class="col-8">
        <input type="text" [(ngModel)]="usersearchterm" id="usersearchterm" class="form-control" (ngModelChange)="search($event)" placeholder="Search for User:">
      </div>
    </div>

    <div class="row py-2">
      <div class="col-8">

        <div class="table table-responsive">
          <table class="table table-striped" aria-labelledby="tableLabel">
            <thead>
              <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                  <div class="btn-toolbar" role="toolbar">
                    <div class="btn-group me-2" role="group">
                      <button type="button" class="btn btn-danger" (click)="delete(user)" data-tooltip="test">
                        Delete
                      </button>
                    </div>
                    <div *ngIf="id == user.id">
                      <div class="btn-group me-2" role="group">
                        <button type="button" class="btn btn-primary" (click)="onSelect(user)">
                          Edit
                        </button>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="editUser != null">
      <form [formGroup]="editForm">
        <div class="row py-2">
          <div class="col-3">
            <input type="text" [(ngModel)]="id" id="id" required class="form-control" hidden formControlName="id">
            <input type="text" [(ngModel)]="editfname" id="editfname" required class="form-control" placeholder="First name:" formControlName="efname">
            <div *ngIf="efname.invalid && (efname.dirty || efname.touched)" class="alert alert-danger">
              <div *ngIf="efname.errors?.['required']">
                First name is required.
              </div>
              <div *ngIf="efname.errors?.['minlength']">
                First name must be at least 4 characters long.
              </div>
            </div>
          </div>
          <div class="col-3">
            <input type="text" [(ngModel)]="editlname" id="editlname" required class="form-control" placeholder="Last name:" formControlName="elname">
            <div *ngIf="elname.invalid && (elname.dirty || elname.touched)" class="alert alert-danger">
              <div *ngIf="elname.errors?.['required']">
                Last name is required.
              </div>
              <div *ngIf="elname.errors?.['minlength']">
                Last name must be at least 4 characters long.
              </div>
            </div>
          </div>
          <div class="col-3">
            <button type="submit" [disabled]="(efname.invalid || elname.invalid)" class="btn btn-primary" (click)="update(id,editlname, editfname)">
              Update
            </button>
          </div>
        </div>
        <div class="col-7">
          <div class="alert alert-warning alert-dismissible fade show" *ngIf="f.submitted && isSignUpFailed">
            Update failed!<br />{{ errorMessage }}
          </div>
          <div class="alert alert-success alert-dismissible fade show" *ngIf="isSuccessful && isLoggedIn">
            Update successful!
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
